<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  lang="pt"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <link
      th:rel="stylesheet"
      th:href="@{/assets/css/bootstrap/css/bootstrap.min.css} "
    />
    <link th:rel="stylesheet" th:href="@{/assets/css/styles.css} " />
  </head>

  <body>
    <div class="container-fluid">
      <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
          <div
            class="
              d-flex
              flex-column
              align-items-center align-items-sm-start
              px-3
              pt-2
              text-white
              min-vh-100
            "
          >
            <a
              href="/"
              class="
                d-flex
                align-items-center
                pb-3
                mb-md-0
                me-md-auto
                text-decoration-none
              "
            >
              <span class="fs-5 d-none d-sm-inline">SISTEMA GESTÃO RH</span>
            </a>
            <span class="mb-5" style="font-size:10pt; margin-top: -20px;">by Vanderson Telema</span>
            <ul
              class="
                nav nav-pills
                flex-column
                mb-sm-auto mb-0
                align-items-center align-items-sm-start
              "
            >
              <li class="nav-item">
                <a href="/" class="nav-link align-middle px-0">
                  <i class="fs-4 bi-house"></i>
                  <span class="ms-1 d-none d-sm-inline">Ínicio</span>
                </a>
              </li>
              <li>
                <a href="/employees/all" class="nav-link px-0 align-middle">
                  <i class="fs-4 bi-table"></i>
                  <span class="ms-1 d-none d-sm-inline">Funcionários</span></a
                >
              </li>
              <li>
                <a href="/candidates/all" class="nav-link px-0 align-middle">
                  <i class="fs-4 bi-table"></i>
                  <span class="ms-1 d-none d-sm-inline">Candidatos</span></a
                >
              </li>
              
                </ul>
              </li>
            </ul>
            <hr />
            <div class="dropdown pb-4">
              <a
                href="#"
                class="
                  d-flex
                  align-items-center
                  text-white text-decoration-none
                  dropdown-toggle
                "
                id="dropdownUser1"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <!-- <img
                  src="https://github.com/mdo.png"
                  alt="hugenerd"
                  width="30"
                  height="30"
                  class="rounded-circle"
                /> -->
                <span class="d-none d-sm-inline mx-1">Vanderson Telema</span>
              </a>
              <ul
                class="dropdown-menu dropdown-menu-dark text-small shadow"
                aria-labelledby="dropdownUser1"
              >
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col py-3">
          <div layout:fragment="content"></div>
        </div>
      </div>
    </div>

    <script th:src="@{/assets/js/jquery/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap/bootstrap.min.js}"></script>
  </body>
</html>
