<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  lang="pt"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/main}"
>
  <body>
    <div layout:fragment="content">
      <h1>Detalhes do candidato</h1>

      <div class="row my-2">
        <div class="col-auto">
          <a
          th:href="@{/candidates/edit/{id}(id=${candidate.id})}"
          class="btn btn-primary btn-sm"
          >Actualizar dados</a>
        </div>
        <div class="col-auto">
          <a
          th:href="@{/candidates/delete/{id}(id=${candidate.id})}"
          class="btn btn-danger btn-sm"
          >Excluir funcionário</a>
        </div>
      </div>

      <table class="table">
        <tbody>
          <tr th:each="candidate : ${candidates}">
            <tr>
              <th>Nome</th>
              <td class="fs-6" th:text="${candidate.name}"></td>
            </tr>
            <tr>
              <th>Número do BI</th>
              <td class="fs-6" th:text="${candidate.bi}"></td>
            </tr>
            <tr>
              <th>Data de nascimento</th>
              <td class="fs-6" th:text="${candidate.birth}"></td>
            </tr>
            <tr>
              <th>Endereço</th>
              <td class="fs-6" th:text="${candidate.address}"></td>
            </tr>
            <tr>
              <th>Email</th>
              <td class="fs-6" th:text="${candidate.email}"></td>
            </tr>
            <tr>
              <th>Telefone</th>
              <td class="fs-6" th:text="${candidate.phone}"></td>
            </tr>
            <tr>
              <th>Classificação (1-10)</th>
              <td class="fs-6" th:text="${candidate.rating}"></td>
            </tr>
            <tr>
              <th>Área técnica</th>
              <td class="fs-6" th:text="${candidate.technicalArea}"></td>
            </tr>
            <tr>
              <th>Data da entrevista</th>
              <td class="fs-6" th:text="${candidate.jobInterviewDate}"></td>
            </tr>
            <tr>
              <th>Observação</th>
              <td class="fs-6" th:text="${candidate.obs}"></td>
            </tr>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
