<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  lang="pt"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/main}"
>
  <body>
    <div layout:fragment="content">
      <h1>Novo candidato</h1>
      <form
        th:action="@{/candidates/save}"
        th:object="${candidate}"
        method="POST"
      >
        <div class="row g-3 mb-3">
          <div class="col-sm-4">
            <label class="form-label">Nome</label>
            <input
              th:field="*{name}"
              type="text"
              class="form-control"
              placeholder="Nome completo"
              required
            />
          </div>
          <div class="col-sm-4">
            <label class="form-label">Número do BI</label>
            <input
              type="text"
              class="form-control"
              placeholder="Número do BI"
              th:field="*{bi}"
              required
            />
          </div>
        </div>

        <div class="row g-3 mb-3">
          <div class="col-sm-4">
            <label class="form-label">Endereço</label>
            <input
              type="text"
              class="form-control"
              th:field="*{address}"
              placeholder="Endereço"
              required
            />
          </div>

          <div class="col-sm-2">
            <label class="form-label">Data de nascimento</label>
            <input
              class="form-control"
              type="date"
              th:field="*{birth}"
              required
            />
          </div>
        </div>

        <div class="row g-3 mb-3">
          <div class="col-sm-4">
            <label class="form-label">Email address</label>
            <input
              type="email"
              class="form-control"
              placeholder="nome@examplo.com"
              th:field="*{email}"
            />
          </div>

          <div class="col-sm-2">
            <label class="form-label">Número de telefone</label>
            <input
              type="text"
              class="form-control"
              placeholder="Número de telefone"
              th:field="*{phone}"
            />
          </div>
        </div>

        <div class="row g-3 mb-3">
          <div class="col-sm-4">
            <label class="form-label">Área técnica</label>
            <input
              type="text"
              class="form-control"
              placeholder="Área técnica"
              th:field="*{technicalArea}"
            />
          </div>
          <div class="col-sm-2">
            <label class="form-label">Pontuação (1-10)</label>
            <input
              type="number"
              class="form-control"
              th:field="*{rating}"
              min="0"
              max="10"
              value="0"
            />
          </div>

          <div class="col-sm-2">
            <label class="form-label">Data da entrevista</label>
            <input
              type="date"
              class="form-control"
              th:field="*{jobInterviewDate}"
            />
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-auto">
            <button class="btn btn-primary" type="submit">
              Salvar funcionário
            </button>
          </div>
          <div class="col-auto">
            <a class="btn btn-danger" th:href="@{/candidates/all}">Cancelar</a>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
