<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  lang="pt"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/main}"
>
  <body>
    <div layout:fragment="content">
      <div class="row d-flex">
        <div class="col-sm-3 box">
          <span th:text="${employees.size}"></span> Funcionários
        </div>
        <div class="col-sm-3 box">
          <span th:text="${candidates.size}"></span> Candidatos
        </div>
      </div>
    </div>
  </body>
</html>
